/data/
/checkpoints/
**/__pycache__/
**/.DS_Store
/experiments/
/temp/
/AIGI/data/
/AIGI/RAE/models/
/AIGI/test.sh
/AIGI/experiment_results.txt
/aigi__/
/AIGI/results
/test/
/AIGI/my_data.tar.gz
/AIGI_ours/data
/AIGI/result_new/
/AIGI/exp2.py
/AIGI/exp.py
/AIGI/imagenet_data.py
/AIGI/imagenet_stats.pt
/AIGI/test2.sh
/AIGI/run.sh
/AIGI_ours/results
/AIGI_ours/run_experiments.sh
/AIGI_ours/run_experiments2.sh
/AIGI_ours/run_experiments_c.sh
/rae_train/exRAE
/rae_train/RAE